*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.row {
    margin-right: 0 !important;
}


#header-1 {
    background-color: black;
}

.nav-link {
    color: black !important;
    margin-right: 1rem ;
}

.card-img, .card {
    border-radius: 0 !important;
    border: none;
}

.purchase-now-btn {
    background-color: #CD3D0F !important;
}
 #slideshow img {
     border-radius: 15px;
 }

 #banner p:first-of-type {
     font-size: small;
     margin-bottom: 0;
     color: #187FD2;
 }

 #banner p:last-of-type, #component-big p {
     color: #888888;
 }


 .card-body{
     padding-right: 0;
     padding-left: 0;

 }
 