*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.row {
    margin-right: 0 !important;
}


#header-1 {
    background-color: black;
}

.nav-link {
    color: black !important;
    margin-right: 1rem ;
}

#jumbo {
    height: 650px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    border-radius: 0;
 }

.purchase-now-btn {
    background-color: #CD3D0F !important;
}
 #slideshow img {
     border-radius: 15px;
 }

 #banner p:first-of-type {
     font-size: small;
     margin-bottom: 0;
     color: #187FD2;
 }

 #banner p:last-of-type, #component-big p, #banner-play4 p {
     color: #888888;
 }

#jumbo .card, #components .card, 
#jumbo-it-takes-two .card,
#components .card-img,
#accessories .card {
    border-radius: 0 !important;
    border: none;
}

 #components .card-body{
     padding-right: 0;
     padding-left: 0;
 }
 
#components .card-img-top:not(.card-img-top-1){
     opacity: 55%;
 }

 #jumbo-it-takes-two {
     height: 650px;
     background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
     background-position: center;
     border-radius: 0;
 }

 #nuove-uscite .card {
     background-color: #212529;
     border: none;
 }

 #nuove-uscite .card-img-top {
    border-radius: 15px;
 }

 #playstation-plus {
     background-color: #BEBCBB;
 }

 #playstation-plus button {
     background-color: #D9DADC;
 }

 #playstation-now {
     background-color: #161C3B;
 }